.moreinfo-sheet {
  position: fixed;
  top: 20vh;
  height: 70vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 430px;
  background: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10000;
  overflow-y: auto;
}

.moreinfo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}